// Colores

$color_primary: #FFFDD7; 
$color_secundary: #00943B;
$color_terciario_transparent: #3504f7bd;
$color-orange: #FD6C02;
$color_secundary_light: #04A83B;

// Size
$font-size: 0.7rem;
$font-size-tablet: 1rem;
$font-subtitle: 1.5rem;
$font-modal-link: 1.2rem;