// Fonts

@font-face {
    font-family: champ;
    src: url(../../assets/fonts/Champ-Black.ttf);
}

@font-face {
    font-family: poppints_bold;
    src: url(../../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppints_medium;
    src: url(../../assets/fonts/Poppins-Medium_1.ttf);
}

@font-face {
    font-family: poppints_regular;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}


// Colores
$color_primary: #FFFDD7; 
$color_secundary: #00943B;
$color_terciario_transparent: #3504f700;
$color_terciario: #3304F7;
$color-orange: #FD6C02;
$color_secundary_light: #04A83B;
$color_background: #A1DB02;
$color_circles: #CBE759;
$color-yellow: #FED703;
$color-green: #A1DB04;
$color-yellow-two: #FDD825;
$color-orange-background: #FD2E02;
$color-circles-orange: #FD6C02;
$color-white: #FFFFFF;

// Size
$font-size: 0.7rem;
$font-size-small: 0.9rem;
$font-size-tablet: 1rem;
$font-subtitle: 1.5rem;
$font-modal-link: 1rem;
$font-link-table: 1.2rem;
$fr-value: 1fr;
$font-principal: 4.5rem;
$font-small: 1.3rem;
$font-normal: 2.5rem;
$font-size-title-escritorio: 10rem;
$font-size-title-escritorio_medium: 5.5rem;
$font-size-small-escritorio: 4rem;
$font-size-small-v2-escritorio: 3rem;
$font-size-medium-escritorio: 5rem;
$font-producto-subtitle: 1.8rem;
$font-producto-title: 2.5rem;
$font-text-normal: 1.1rem;
$font-text-normal-mobile: 2rem;

// Size
$family-primary: champ;
$family-secundary: poppints_bold;
$family-medium: poppints_medium;
$family-regular: poppints_regular;