// Mixins

// Animation
@mixin animate($name, $duration, $type, $loop){
    animation: $name $duration $type $loop;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

// Media query
@mixin bp($point) {
    @if $point == escritorio {
        @media (min-width: 1600px) { @content; }
    }
    @else if $point == laptop {
        @media (min-width: 1250px) { @content; }
    }
    @else if $point == tablet {
        @media (min-width: 700px)  { @content; }
    }
}


// variables
@import './variables';

// Importamos los componentes de css
@import './components/nav';  
@import './components/circles';
@import './components/circles_content';  


// Reseteamos el documento

html,
body,
*{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

html{
    background-color: $color_background;
}

main{
    padding-top: 120px;
    width: 100vw;
    overflow-x: hidden;
}
