.a_tu_manera{
    min-height: calc(100vh - 140px);
    background-color: $color-yellow;
    width: calc(100% - 30px);
    padding: 140px 15px 30px 15px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    overflow: hidden;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: $color_terciario;
        left: 0px;
        top: 50%;
    }

    .escritorio{
        display: none;

        @include bp(tablet) {
            display: block;
        }

    }

    @include bp(tablet) {
        min-height: calc(100vh - 150px);
        padding: 90px 15px 30px 15px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .background_image{

        display: none;

        @include bp(tablet) {
            display: block;
            position: absolute;
            top: 0px;
            left: 0px; 
            z-index: 0;
            height: 100%;
            width: 100vw;
        }   
    }

    .conten-principal{

        @include bp(tablet) {
            width: 80%;
            margin: auto;
        }

        .column-two{
            display: grid;
            grid-template-columns: 60% 40%;
            position: relative;

            @include bp(tablet) {
                grid-template-columns: 1fr;
                width: 80%;
                margin: auto;
                justify-items: center;
            }

            h3 {

                text-transform: uppercase;
                font-family: $family-primary;
                color: $color_primary;

                @include bp(tablet) {
                    text-align: center;
                }

                .principal{
                    font-size: $font-normal;
                    text-transform: capitalize;

                    @include bp(tablet) {
                        font-size: $font-size-title-escritorio_medium;
                    }

                }

                .small{
                    font-size: $font-small;
                    bottom: 5px;
                    position: relative;

                    @include bp(tablet) {
                        font-size: $font-producto-title;
                        position: relative;
                        bottom: 36px;
                    }

                }

                .normal{
                    font-size: $font-producto-subtitle;

                    @include bp(tablet) {
                        font-size: $font-size-small-escritorio;
                        position: relative;
                        bottom: 20px;
                    }
                }
            }

            div {

                @include bp(tablet) {
                    max-width: 700px;
                    text-align: center;
                }

                .content{
                    color: $color_primary;
                    margin-top: 20px;
                    font-family: $family-regular;

                    @include bp(tablet) {
                        margin-top: 0px;
                    }

                    p{
                        margin-bottom: 20px;
                        @include bp(tablet) {
                            margin-bottom: 10px;

                            &:last-of-type{
                                margin-bottom:30px;
                            }

                        }
                    }

                    p,
                    span{
                        font-size: $font-text-normal;

                        @include bp(tablet) {
                            font-size: $font-link-table;
                        }

                    }

                }
            }

            .image{

                width: 100%;
                height: 100%;

                @include bp(tablet) {
                    display: none;
                }

                img{
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                    border-radius: 75px;
                    transform: translateY(50%);

                    @include bp(tablet) {
                        border-radius: 75px;
                    }

                }
            }

        }

        .column-normal{


            position: relative;

            img{
                width: 100%;
                border-radius: 120px;

                @include bp(tablet) {
                    border-radius: 200px;
                }
            }

            .content_motivation{
                color: $color_primary;
                margin-top: 20px;
                font-family: $family-regular;
                text-align: center;
                font-size: $font-text-normal;

                @include bp(tablet) {
                    max-width: 700px;
                    margin: 30px auto 0px auto;
                    font-size: $font-link-table;
                }

            }
        }

        .column-normal.imagen{

            position: initial;

            @include bp(tablet) {
                display: grid;
                grid-template-columns: 60% 40%;
            }

            div{

                position: relative;

                &:last-of-type{
                    display: none;

                    @include bp(tablet) {
                        display: block;
                    }
                }

                @include bp(tablet) {

                    &:first-of-type{
                        transform: translateX(30px);
                        z-index: 99;
                    }

                    height: 35vh;
                    border-radius: 200px;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    user-select: none;
                    pointer-events: none;
                }

                img.lif_hojita{
                    position: absolute;
                    left: 18px;
                    bottom: -30px;
                    width: 97px;
                    height: auto;
                    transform: rotate(34deg);

                    @include bp(tablet) {
                        top: -60px;
                        width: 100%;
                        max-width: 180px;
                        left: -18px;
                    }
                }

                img.aplausos{
                    position: absolute;
                    right: -40px;
                    top: -40px;
                    width: 120px;
                    height: auto;
                    transform: rotate(350deg);

                    @include bp(tablet) {
                        top: calc(40vh - 180px);
                        width: 100%;
                        max-width: 150px;
                        right: -50px;
                        z-index: 99;
                    }
                }

            }

        }

    }

}