
ul.images,
.galery_items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.image-list{
    width: 100%;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    background: #eee;
    cursor: pointer;
    vertical-align: middle;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    position: relative;
}
.image-list:before{
    content: 'Remover';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: #a7a7a74f;
    opacity: 0;
    transition: .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    backdrop-filter: blur(3px);
}
.image-list:hover:before{
    opacity: 1;
}

ul.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#agregar_nuevo {
    margin-top: 10px;
}

.button-secondary-galery{
    color: #2271b1;
    border-color: #2271b1;
    background: #f6f7f7;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

.button-secondary-galery:hover{
    background: #f0f0f1;
    border-color: #0a4b78;
    color: #0a4b78;
}